.coursea_details {
  margin-top: 24px;
  display: flex;
}
.coursea_wrap {
  width: 360px;
  position: fixed;
  overflow: scroll;
  padding: 0 8px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  margin-bottom: 20px;
  top: 90px;
}
.coursea_wrap > img {
  border: 12px;
  width: 100%;
  height: 180px;
  border-radius: 12px;
}
.coursea_wrap > h5 {
  margin: 16px 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.coursea_wrap > p {
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 18px;
}
.action > span:first-child {
  margin-right: 12px;
}
.action > span:hover {
  cursor: pointer;
  opacity: 0.6;
}
.lessons_list {
  margin-left: 384px;
  flex: 1;
  padding: 0;
  list-style-type: none;
}
.lessons_item {
  margin-bottom: 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lessons_wrap {
  width: 80%;
  padding: 8px 14px;
  border-radius: 6px;
  display: flex;
}
.lessons_item:hover {
  background-color: #dbdbdb;
}
.lessons_item:hover .lessons_action {
  opacity: 1;
  visibility: visible;
}
.index-lesson{
  margin-left: 20px;
  font-size: 1.4rem;
}
.lesson_img{
  min-width: 180px;
  height: 100px;
  margin-right: 12px;
}
.lesson_img > img {
  border-radius: 6px;
  border: 1px solid #cccc;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.lessons_info > span {
  font-weight: 400;
  font-size: 1.7rem;
}
.lessons_info > h6 {
  color: #606060;
  font-size: 1.2rem;
  margin: 8px 0 0 0;
}
.action{
  margin: 20px 0;
}
.action > span {
  width: 40px;
  height: 40px;
  line-height: 32px;
  background-color: #c8c8c8;
  border-radius: 50%;
  font-size: 2rem;
  padding: 6px;
}
.lessons_action {
  transition: all linear 0.2s;
  opacity: 0.4;
  visibility: hidden;
  margin-right: 20px;
}
