<footer class="footer">
    <div class="wrap_footer">
        <div class="footer_content">
            <div class="footer_item">
                <div class="footer_heading">
                    <img class="footer_logo" src="./assets/f8_icon.png">
                    <h2 class="title_logo">Học Lập Trình Để Đi Làm</h2>
                </div>
                <ul class="footer_list">
                    <li>Điện thoại: 0246.329.1102</li>
                    <li>Email: <a>contact@fullstack.edu.vn</a></li>
                    <li>Địa chỉ: Số 26 Dương Đình Nghệ, Phường</li>
                    <li>Yên Hòa, Quận Cầu Giấy, TP. Hà Nội</li>
                </ul>
            </div>
            <div class="footer_item_center">
                <div class="footer_heading">
                    <h2 class="footer_title">VỀ F8</h2>
                </div>
                <ul class="footer_list">
                    <a>
                        <li>Giới thiệu</li>
                    </a>
                    <a>
                        <li>Liên hệ</li>
                    </a>
                    <a>
                        <li>Điều khoản</li>
                    </a>
                    <a>
                        <li>Bảo mật</li>
                    </a>
                    <a>
                        <li>Cơ hội việc làm</li>
                    </a>
                </ul>
            </div>
            <div class="footer_item_center">
                <div class="footer_heading">
                    <h2 class="footer_title">SẢN PHẨM</h2>
                </div>
                <ul class="footer_list">
                    <a>
                        <li>Game Nester</li>
                    </a>
                    <a>
                        <li>Game CSS Diner</li>
                    </a>
                    <a>
                        <li>Game CSS Selectors</li>
                    </a>
                    <a>
                        <li>Game Froggy</li>
                    </a>
                    <a>
                        <li>Game Froggy Pro</li>
                    </a>
                    <a>
                        <li>Game Scoops</li>
                    </a>
                </ul>
            </div>
            <div class="footer_item_center">
                <div class="footer_heading">
                    <h2 class="footer_title">
                        CÔNG CỤ</h2>
                </div>
                <ul class="footer_list">
                    <a>
                        <li>Tạo CV xin việc</li>
                    </a>
                    <a>
                        <li>Rút gọn liên kết</li>
                    </a>
                    <a>
                        <li>Clip-path maker</li>
                    </a>
                    <a>
                        <li>Snippet generator</li>
                    </a>
                    <a>
                        <li>Cảnh báo sờ tay lên mặt</li>
                    </a>
                </ul>
            </div>
            <div class="footer_item">
                <div class="footer_heading">
                    <h2 class="footer_title">
                        CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8</h2>
                </div>
                <ul class="footer_list">
                    <li>Mã số thuế: 0109922901</li>
                    <li>Ngày thành lập: 04/03/2022</li>
                    <li>Lĩnh vực: Công nghệ, giáo dục, lập trình. F8 xây dựng và phát triển những sản phẩm mang lại giá
                        trị
                        cho cộng đồng.</li>
                </ul>
            </div>
        </div>
        <div class="footer_bottom">
            <p>
                © 2018 - 2023 F8. Nền tảng học lập trình hàng đầu Việt Nam
            </p>
            <div class="social">
                <a href="https://www.youtube.com/c/F8VNOfficial" target="_blank" class="youtuber">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube-square"
                        class="svg-inline--fa fa-youtube-square " role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M186.8 202.1l95.2 54.1-95.2 54.1V202.1zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-42 176.3s0-59.6-7.6-88.2c-4.2-15.8-16.5-28.2-32.2-32.4C337.9 128 224 128 224 128s-113.9 0-142.2 7.7c-15.7 4.2-28 16.6-32.2 32.4-7.6 28.5-7.6 88.2-7.6 88.2s0 59.6 7.6 88.2c4.2 15.8 16.5 27.7 32.2 31.9C110.1 384 224 384 224 384s113.9 0 142.2-7.7c15.7-4.2 28-16.1 32.2-31.9 7.6-28.5 7.6-88.1 7.6-88.1z">
                        </path>
                    </svg>
                </a>
                <a href="https://www.facebook.com/groups/f8official" target="_blank" class="facebook">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square"
                        class="svg-inline--fa fa-facebook-square " role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.3V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0 -48-48z">
                        </path>
                    </svg>
                </a>
                <a href="https://www.tiktok.com/@f8official" target="_blank" class="tiktok">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="tiktok"
                        class="svg-inline--fa fa-tiktok " role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.25V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.62 74.62 0 1 0 52.23 71.18V0l88 0a121.2 121.2 0 0 0 1.86 22.17h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.14z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>