<app-header></app-header>
<div class="wrap_body">
    <app-sidebar></app-sidebar>
    <div class="wrapper" style="flex: 1 1;">
        <div class="study_wrap">
            <h1 class="study_title">Lộ trình học</h1>
            <p class="study_description">
                Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi làm với vị trí "Lập
                trình viên Front-end" bạn nên tập trung vào lộ trình "Front-end".
            </p>
            <div class="LearningPathsList_content">
                <div class="LearningPathsitem">
                    <div class="LearningPathsitem_body">
                        <div class="LearningPathsitem_info">
                            <h2 class="LearningPathsitem_title">
                                <a>Lộ trình học Front-end</a>
                            </h2>
                            <p class="LearningPathsitem_description">
                                Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ
                                chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.
                            </p>
                        </div>
                        <div class="LearningPathItem_thumb">
                            <a href="#">
                                <img src="./assets/thunb1.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="LearningPath_wrap">
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Kiến thức nhập môn IT" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/nhapmonit.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="HTML CSS hero đến zero" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/html-css2.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Responsive với Grid System" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/res.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Lập trình với JavaSrcipt cơ bản" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/js.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Lập trình với JavaSrcipt nâng cao" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/js.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Làm việc với Terminal & Ubuntu" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/linux.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Xây dựng Website ReactJS" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/reactjs.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="LearningPathBtn">
                        <a href="#" class="button_2">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
                <div class="LearningPathsitem">
                    <div class="LearningPathsitem_body">
                        <div class="LearningPathsitem_info">
                            <h2 class="LearningPathsitem_title">
                                <a>Lộ trình học Front-end</a>
                            </h2>
                            <p class="LearningPathsitem_description">
                                Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ
                                chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.
                            </p>
                        </div>
                        <div class="LearningPathItem_thumb">
                            <a href="#" >
                                <img src="./assets/thunb1.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="LearningPath_wrap">
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Kiến thức nhập môn IT" nzTooltipPlacement="top"  nz-tooltip>
                                <img src="./assets/nhapmonit.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="HTML CSS hero đến zero" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/html-css2.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Lập trình với JavaSrcipt cơ bản" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/js.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Lập trình với JavaSrcipt nâng cao" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/js.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Làm việc với Terminal & Ubuntu" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/linux.png" alt="">
                            </a>
                        </div>
                        <div class="LearningPath_item">
                            <a href="" nzTooltipTitle="Node & ExpressJS" nzTooltipPlacement="top" nz-tooltip>
                                <img src="./assets/nodejs.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="LearningPathBtn">
                        <a href="#" class="button_2">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
            <div class="SuggestionBox_wrapper">
                <div class="SuggestionBox_info">
                    <h2>Tham gia cộng đồng học viên F8 trên Facebook</h2>
                    <p>Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp, chia sẻ và hỗ trợ
                        nhau trong quá trình học nhé.</p>
                    <a>Tham gia nhóm</a>
                </div>
                <div class="SuggestionBox_img">
                    <img src="./assets/fb-group-cards.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>