#header {
  width: 100%;
  --wrapper-height: 50px;
  align-items: center;
  background-color: #29303b;
  display: flex;
  height: var(--wrapper-height);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  margin-left: 8px;
  position: relative;
  top: 1px;
}
.header_logo > a{
  width: 40px;
  padding: 10px;
  color: var(--white-color);
  cursor: pointer;
}
.header_logo > a > img {
  height: 30px;
  border-radius: 8px;
}
.header_logo > h4 {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--white-color);
  display: -webkit-box;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 0 16px;
  overflow: hidden;
}
.header_logo {
  margin-left: 24px;
}
.lessons {
  margin-right: 24px;
}
.lessons > p {
  margin-bottom: 0;
  color: var(--white-color);
  font-size: 1.3rem;
  margin-left: 6px;
}
.content {
  width: 100%;
  bottom: 50px;
  left: 0;
  margin-top: 50px;
  overflow-x: hidden;
  overflow-y: overlay;
  overscroll-behavior: contain;
  position: fixed !important;
  top: 0;
}
.sider {
  opacity: 1;
  width: 23%;
  transition: all linear 1s;
  border-left: 1px solid #e7e7e7;
  bottom: 50px;
  margin-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
.sider > h3 {
  padding: 12px 16px;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0;
}
.wrap_lesson {
  width: 77%;
}
.lesson_video {
  background-color: var(--black-color);
}
.wrap_video {
  margin: 0 auto;
  width: 982px;
  height: 552px;
  left: 0px;
  top: 0px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer_action {
  background-color: #f0f0f0;
  bottom: 0;
  box-shadow: 0 -2px 3px rgb(0 0 0 / 10%);
  display: flex;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn_toogle {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
.btn_toogle>h3{
  margin: 0 4px;
}
.more_description {
  padding: 0 8.5%;
}
.more_description > h2 {
  font-size: 2.8rem;
  margin: 48px 0 8px;
}
.description {
  margin-top: 52px;
  word-wrap: break-word;
  color: #292929;
  font-size: 1.6rem;
  line-height: 2;
}
.btn {
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  display: block;
  outline: none;
  font-size: 100%;
  line-height: 1.15;
  font-size: 1.6rem;
  margin: 0;
  border-radius: 6px;
  color: #404040;
  font-weight: 600;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.btn:nth-child(2) {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  margin-left: 12px;
}
.powerd > p {
  margin: 14px 0;
  color: #666;
  font-size: 1.4rem;
  padding: 12px 0;
  text-align: center;
}
.powerd > p > span {
  color: #d43c68;
}
.ant-menu-submenu-title {
  background-color: #f7f8fa;
}
.ant-menu-inline .ant-menu-item{
  height: 60px;
  border-bottom: 1px solid #f2f9ff;
}
.list_lessons {
  background-color: var(--white-color);
}
.ant-menu-sub.ant-menu-inline {
  background-color: var(--white-color);
}
.list_lessons li {
  color: rgb(128, 139, 154);
  font-size: 1.4rem;
  padding-left: 34px !important;
  white-space: pre-wrap;
  font-weight: 400;
  line-height: 1.4;
}
.ant-menu-item-selected{
  color: var(--white-color);
  font-weight: 500!important;
}
.ant-menu-light .ant-menu-item:hover{
  color: rgb(128, 139, 154);
  background-color:  #f2f9ff;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: var(--white-color);
  background: #0093fc;
}
.footer_btn {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-shrink: 0;
  font-size: 1.6rem;
  height: 38px;
  justify-content: center;
  margin: 0 8px;
  width: 38px;
}
.footer_btn:hover{
  cursor: pointer;
}
.full-width .sider{
  opacity: 0;
  display: none;
}
.full-width .wrap_lesson{
  width: 100%;
}
.full-width .wrap_video{
  width: 100%;
  padding: 0 16%;
  height: 585px;
}
.full-width .more_description{
  padding: 0 16%;
}